
confd('harness:/'):
  - { src: docker/image/console/Dockerfile }
  - { src: docker/image/console/root/usr/local/etc/php/php.ini }
  - { src: docker/image/console/root/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini }
  - { src: docker/image/nginx/Dockerfile }
  - { src: docker/image/nginx/root/etc/ssl/certs/app.crt }
  - { src: docker/image/nginx/root/etc/ssl/private/app.key }
  - { src: docker/image/php-fpm/Dockerfile }
  - { src: docker/image/php-fpm/root/usr/local/etc/php/php.ini }
  - { src: docker/image/php-fpm/root/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini }
  - { src: docker/stack/preview/docker-compose.yml }
  - { src: skeleton/app/etc/env.php }
  - { src: skeleton/auth.json }
  - { src: skeleton/behat.yml }
  - { src: skeleton/composer.json }
  - { src: skeleton/Jenkinsfile }
  - { src: .env }
  - { src: docker-compose.yml }
  - { src: docker-sync.yml }
